.header{
  background-color:#e5171f;
}

.administrative{
  background-color:#ffddbc;
}

.production{
  background-color:adffad;
}

.others{
  background-color:#bcddff;
}

h1{
  font-size:12px;
  color:white;
}

h3{
  font-size:7px;
  color:white;
}

